<% @recipes.each do |recipe| %>
  <div class="p-2">
    <p><%= link_to recipe.title, recipe_path(recipe) %><br>
    by <%= link_to recipe.author.name, user_path(recipe.author) %></p>
  </div>
<% end %>